<div class="authorization">
    <div class="card">
        <h2 class="card-title">Вход</h2>
        <form class="card-form">
            <div class="card-form__inputs">
                {{{ FormItem className="form-item" label="Логин" name="login" type="text" validation="login" }}}
                {{{ FormItem className="form-item" label="Пароль" name="password" type="password"
                             validation="password" }}}
            </div>

            <div class="card-form__buttons">
                {{{ Button label="Войти" className="card-form__submit" onClick=sendValues }}}
                {{# Link to="/registration" className="card__link" }}Нет аккаунта?{{/Link}}
            </div>
        </form>
    </div>
</div>
