@import "src/scss/variables";

.registration-form {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  height: 100%;

  &__inputs {
    display: flex;
    flex-direction: column;
  }

  &__buttons {
    display: flex;
    flex-direction: column;

    a {
      text-align: center;
      font-size: 11px;
      line-height: 11px;
      color: $color-blue;
      padding-top: 14px;
    }
  }
}





