<div class="{{ className }}">
    {{#if path }}
        <img class="image-file" src="https://ya-praktikum.tech/api/v2/resources/{{ path }}" alt="Аватар">
    {{/if }}
    <input class="image__change" type="file">
</div>
