#app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.registration {
  width: 340px;
  margin: 0 auto;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 6px rgb(0 0 0 / 14%);
  border-radius: 12px;

  .card {
    &-title {
      font-weight: 500;
      font-size: 20px;
      line-height: 20px;
      text-align: center;
      padding: 20px 0;
    }

    &-form {
      display: flex;
      flex-direction: column;
      align-content: space-between;
      justify-content: space-between;
      height: 100%;

      &__inputs {
        display: flex;
        flex-direction: column;
      }

      &__buttons {
        display: flex;
        flex-direction: column;
      }
    }

    &__link {
      text-align: center;
      font-size: 11px;
      line-height: 11px;
      color: #3369f3;
      padding-top: 14px;
    }
  }
}
