{{#extend "layout"}}
    {{#content "head" mode="append"}}
        <title>Чат</title>
    {{/content}}

    {{#content "body"}}
        <label for="message">
            <input id="message" name="message">
        </label>
    {{/content}}
{{/extend}}