{{#extend "layout"}}
    {{#content "head" mode="append"}}
        <title>Профиль</title>
        <link rel="stylesheet" href="../scss/profile_change.scss" />
    {{/content}}

    {{#content "body"}}
        <div class="column__left">
            <a href="profile.hbs"><-</a>
        </div>
        <div class="column__right">
            <div class="profile">
                <div class="profile-information__image"></div>
                <div class="profile-information__username"> </div>
                <div class="profile-information__items">
                    {{> profile_items title="Старый пароль" value="•••••••••" }}
                    {{> profile_items title="Новый пароль" value="•••••••••" }}
                    {{> profile_items title="Повторите новый пароль" value="•••••••••" }}
                </div>
                <div class="profile-edit__items">
                    <div class="edit-item">
                        <button class="edit-item__link button text-white">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}