<div class="menu">
    <a class="menu__item" href="../pages/authorization.hbs">Авторизация</a>
    <a class="menu__item" href="../pages/registration.hbs">Регистрация</a>
    <a class="menu__item" href="../pages/chats.hbs">Чат</a>
    <a class="menu__item" href="../pages/profile.hbs">Профиль</a>
    <a class="menu__item" href="../pages/profile_change_information.hbs">Профиль-Изменить данные</a>
    <a class="menu__item" href="../pages/profile_change_password.hbs">Профиль-Изменить пароль</a>
    <a class="menu__item" href="../pages/404.hbs">404</a>
    <a class="menu__item" href="../pages/500.hbs">500</a>
</div>