<form class="authorization-form">
    <div class="authorization-form__inputs">
        {{{ FormAuthorizationItem title="Логин" input_type="email" input_name="login" input_value="" input_placeholder="Логин" error_text="Неверный логин" }}}
        {{{ FormAuthorizationItem title="Пароль" input_type="password" input_name="password" input_value="" input_placeholder="Пароль" }}}
    </div>

    <div class="authorization-form__buttons">
        <button class="authorization-form__submit button">Войти</button>
        <a href="/registration">Нет аккаунта?</a>
    </div>
</form>