<!doctype html>
<html lang="ru">
<head>
    {{#block "head" }}
        <link rel="stylesheet" href="../scss/index.scss" />
    {{/block}}
</head>
<body>
<main>
    {{#block "body" }}{{/block}}
</main>
</body>
</html>