<div class="profile-change">
    <div class="profile-change__left">
        <a href="/profile"><-</a>
    </div>
    <div class="profile-change__right">
        <form class="profile">
            <div class="profile-information__image"></div>
            <div class="profile-information__username"> </div>
            <div class="profile-information__items">
                {{{ ProfileItems label="Старый пароль" type="password" name="password" }}}
                {{{ ProfileItems label="Новый пароль" type="password" name="password_new"}}}
                {{{ ProfileItems label="Повторите новый пароль" type="password" name="password_repeat" }}}
            </div>
            <div class="profile-change__items">
                <div class="edit-item">
                    {{{ Button label="Сохранить" className="edit-item__link button text-white" onClick=sendValues }}}
                </div>
            </div>
        </form>
    </div>
</div>
